body {
  background-color: #464646;
  overflow-Y: scroll;
}

.Dashboard {
  overflow: hidden;
}

.mainPanel {
  position: absolute;
  background-color: #C0BD7C;
  height: 100vh;
  width: 94%;
  max-width: calc(100vw - 77px);
  top: 0;
  left: 0;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.26);
  z-index: 1;
  transition-duration: 0.5s;
}

/****************************************** Plants & Produce */

.leftCard {
  position: absolute;
  background-color: white;
  width: 25vw;
  min-width: 270px;
  height: 92vh;
  min-height: 600px;
  left: 3%;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #E7E7E7;
  box-sizing: border-box;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  z-index: 0;
}

.leftCardTitle {
  position: absolute;
  left: 19px;
  top: 19px;
}

.searchBox {
  position: absolute;
  top: 52px;
  left: 50%;
  transform: translateX(-50%);
  width: 20vw;
  min-width: 250px;
  height: calc(1.5em + .75rem + 2px);
}

.plantSearch {
  position: relative;
  left: 0;
  top: 0;
  background: #FFFFFF;
  border: 1px solid #DADADA !important;
  box-sizing: border-box;
  border-radius: 17px;  
  width: 20vw !important;
  min-width: 220px;
  padding-left: 1.9rem;
}

.search {
  position: relative;
  top: -28px;
  left: 10px; 
}

.plantOptions {
  position: absolute;
  top: 100px;
  left: 50%;
  width: 50%;
  min-width: fit-content;
  transform: translateX(-50%);
}

.hl1 {
  position: relative;
  top: 102px;
  left: 0px;
}

.hl2 {
  position: relative;
  top: 92px;
  left: 0px;
}

.suggestedBar {
  position: absolute;
  left: 13%;
  top: 103px;
  transform: translateX(-50%);
  width: 70px;
  height: 5px;
  background-color: #3F4727;
}

.cardHolder {
  position: relative;
  top: 76px;
  left: 0px;
  min-height: 473px;
  height: calc(92vh - 127px);
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #F0F0F0;
  border-color: #E7E7E7;

}

.plantCard { 
  position: static;
  background: #FFFFFF;
  border: 1px solid #E7E7E7;
  box-sizing: border-box;
  border-radius: 7px;
  margin-top: 7px;
  height: 86px;
  width: 95%;
  margin-left: 2.5%;
  margin-bottom: 7px;
  padding-top: 8px;
  z-index: 1000;
}

.plantCard .photo {
  position: relative;
  height: 70px;
  width: 70px;
  border-radius: 3px;
  left: 22px;
  top: -1px;
}

.plantCard .textCol {
  margin-left: 15px;
  z-index: 4000;
}

.plantCard .textCol .common_name {
  margin-bottom: 0px !important;
}

.suggestedPlants .plantCard .close {
  margin-right: 8px;
  transform: rotate(45deg);
}

.allPlants .plantCard .close {
  margin-right: 8px;
  transform: rotate(45deg);
  pointer-events: all;
}

.rightCards {
  position: relative;
  float: right;
  width: 61vw;
  min-width: 750px;
  height: 92vh;
  min-height: 600px;
  right: 3%;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.cardHolder .popup-content {
  position: relative;
  display: block;
  left: calc(27vw);
  background-color: white;
  border: 1px solid #E7E7E7 !important;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  max-height: 92vh;
  height: fit-content;
  width: 25vw !important;
  overflow-y: scroll;
}

.plantPage .popup-content {
  position: absolute !important;
  left: calc(29vw + 555px) !important;
  top: calc(50% - 150px);
  height: 330px;
  width: 25vw !important;
  min-width: 200px;
  background-color: white;
  border: 1px solid #E7E7E7 !important;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
}

.plantCard .popup-overlay {
  background: none !important;
}

.plantCard .pairs-box {
  margin-bottom: 0px !important;
}

/****************************************** Garden Planner */

.gardenPlanner {
  position: absolute;
  height: calc(92vh - 100px);
  min-height: 450px;
  width: 61vw;
  right: 0;
  top: 100px;
  background: #FFFFFF;
  border: 1px solid #E7E7E7;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  text-align: center;
}

@media screen and (max-width: 1110px) {
  .rightCards {
    display: none;
  }
}

.gardenPlannerTitle {
  margin-top: 16px;
}

.hl3 {
  margin-top: 16px;
}

.calendar {
  overflow-y: scroll;
  height: calc(92vh - 153px);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  margin-top: -16px;
  background-color: #F0F0F0;
  border-color: #E7E7E7;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/****************************************** Weather Module */

.weatherCardHolder {
  position: absolute;
  left: 0px;
  height: 84px;
  width: 47vw;
  border-radius: 7px;
  overflow-x: scroll;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  /*margin-right: -300;*/
  background-color: #F0F0F0;
  border: 1px solid #E7E7E7;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
}

.weatherCard {
  position: relative;
  background: #FFFFFF;
  border: 1px solid #E7E7E7;
  box-sizing: border-box;
  border-radius: 7px;
  float: left;
  margin-top: 7px;
  height: 70px;
  width: 120px;
  margin-left: 7px;
  padding-bottom: 5px;
  padding-top: 10px;
  padding-right: 2px;
  display: inline-block;
  flex: 0 0 auto;
  /* z-index: 1000; */
}

.weatherCard .photo {
  position: relative;
  height: 70px;
  width: 70px;
  border-radius: 2px;
  left: 18px;
  bottom: 12px;
}

.weatherRight {
  position: relative;
  height: 15px;
  width: 15px;
  top: 32px;
  left: 15vw;
}

/****************************************** Name Module */
.nameModule {
  top: 0;
  right: 0;
  text-align-last: right;
  position: fixed;
  z-index: 10;
}

.nameModule .name {
  margin-top: 38px;
  margin-bottom: 5px;
  margin-right: calc(6vw + 40px);
}

.nameModule .username {
  margin-right: calc(6vw + 40px);
}

.nameModule h6 {
  color: white;
}

.nameModule h4 {
  color: white;
  font-weight: 400;
}

.button {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 25px;
  right: 380px;
  z-index: 100;
}

/****************************************** Profile Panel */

.ProfilePanel {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 6%;
  z-index: 0;
}

.ProfilePanel .Profclose {
  position: absolute;
  top: 25px;
  right: 380px;
  z-index: 100;
  opacity: 1;
}

.profile {
  position: absolute;
  min-height: 40px;
  min-width: 40px;
  margin: 0px;
  height: calc(40px + 0.5em);
  width: calc(40px + 0.5em);
  top: 32px;
  right: calc(3vw - 20px - 0.25em);
  z-index: 10;
}

.prof-hr {
  position: absolute;
  border-top: 2px solid white;
  top: 80px;
  width: 20vw;
  right: calc(6vw + 40px);
}

.ProfilePanel h6 {
  color: white;
}

.edit {
  position: relative;
  top: 110px;
  width: 20vw;
  right: calc(6vw + 230px);
  margin-top: 15px;
}

.profile-options {
  position: absolute;
  bottom: 32px;
  width: fit-content;
  height: fit-content;
  right: 0;
  z-index: 10;
  text-align-last: right !important;
}

.profile-options .labelCol {
  position: absolute;
  bottom: -4px;
  width: 50px;
  height: fit-content;
  right: calc(6vw + 40px);
}

.profile-options .symbolCol {
  position: absolute;
  bottom: 0px;
  width: 6%;
  height: fit-content;
  right: calc(3vw - 3px);
}

.profile-options .labelCol p3 {
  position: relative;
  color: white;
  font-weight: 600;
  font-size: 12px;
  line-height: 35px;
  text-align-last: right;
}

.profile-options .symbolCol img {
  margin-top: 10px;
}

/****************************************** Profile Panel */

.myPlants {
  text-align: center;
}

.myPlants h4 {
  margin-top: 50px;
  margin-right: 10px;
  font-size: 18px;
  line-height: 25px;
}

.myPlants .plantCard {
  margin-left: 8px;
  z-index: 4000;
  text-align: left; 
}

.myPlants .plantCard h4 {
  margin-top: 0px;
  margin-right: 0px;
  font-size: 12px;
  line-height: 15px;
}

.myPlants .plantCard .close {
  margin-right: 7px;
}