html, body {
  background-color: #464646;
  overflow-Y: scroll;
}

.mainPanel {
  position: absolute;
  background-color: #C0BD7C;
  height: 100vh;
  width: 94%;
  max-width: calc(100vw - 77px);
  top: 0;
  left: 0;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.26);
  z-index: -1;
}

.leftCard {
  position: absolute;
  background-color: white;
  width: 25vw;
  min-width: 270px;
  height: 92vh;
  min-height: 600px;
  left: 3%;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #E7E7E7;
  box-sizing: border-box;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
}

.leftCardTitle {
  position: absolute;
  left: 19px;
  top: 19px;
}

.searchBox {
  position: absolute;
  top: 52px;
  left: 50%;
  transform: translateX(-50%);
  width: 20vw;
  min-width: 250px;
  height: calc(1.5em + .75rem + 2px);
}

.plantSearch {
  position: relative;
  left: 0;
  /* transform: translateX(-50%); */
  top: 0;
  background: #FFFFFF;
  border: 1px solid #DADADA;
  box-sizing: border-box;
  border-radius: 17px;  
  width: 20vw !important;
  min-width: 220px;
  padding-left: 1.9rem;
}

.search {
  position: relative;
  top: -28px;
  left: 10px; 
}

.plantOptions {
  position: absolute;
  top: 100px;
  left: 50%;
  width: 50%;
  min-width: fit-content;
  transform: translateX(-50%);
}

.hl1 {
  position: relative;
  top: 102px;
  left: 0px;
}

.hl2 {
  position: relative;
  top: 92px;
  left: 0px;
}

.suggestedBar {
  position: absolute;
  top: 103px;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  height: 5px;
  background-color: #3F4727;
}

.cardHolder {
  position: relative;
  top: 76px;
  left: 0px;
  min-height: 473px;
  height: calc(92vh - 127px);
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  overflow-x: visible;
  overflow-y: scroll;   
  background-color: #F0F0F0;
  border-color: #E7E7E7;

}

.plantCard { 
  position: static;
  background: #FFFFFF;
  border: 1px solid #E7E7E7;
  box-sizing: border-box;
  border-radius: 7px;
  margin-top: 7px;
  height: 86px;
  width: 95%;
  margin-left: 2.5%;
  margin-bottom: 7px;
  padding-top: 8px;
  z-index: 1000;
}

.weatherCardHolder {
  position: absolute;
  left: 0px;
  height: 10vh;
  width: 80%;
  border-radius: 7px;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: #F0F0F0;
  border-color: #E7E7E7;

}

.weatherCard { 
  position: relative;
  background: #FFFFFF;
  border: 1px solid #E7E7E7;
  box-sizing: border-box;
  border-radius: 7px;
  float: left;
  margin-top: 7px;
  height: 70px;
  width: 140px;
  margin-left: 2.5%;
  margin-bottom: 7px;
  padding-top: 8px;
  z-index: 1000;
}

.weatherCard .photo {
  position: relative;
  height: 60px;
  width: 60px;
  border-radius: 3px;
  left: 22px;
  top: -1px;
}

.plantCard .photo {
  position: relative;
  height: 70px;
  width: 70px;
  border-radius: 3px;
  left: 22px;
  top: -1px;
}

.plantCard .textCol {
  margin-left: 15px;
  z-index: 4000;
}

.plantCard .textCol .common_name {
  margin-bottom: 0px !important;
}

.suggestedPlants .plantCard .close {
  margin-right: 8px;
  transform: rotate(45deg);
}

.rightCards {
  position: relative;
  float: right;
  width: 61vw;
  min-width: 750px;
  height: 92vh;
  min-height: 600px;
  right: 3%;
  top: 50%;
  transform: translateY(-50%); 
  z-index: -1;
}

.gardenPlanner {
  position: absolute;
  height: 80vh;
  min-height: 450px;
  width: 61vw;
  right: 0;
  top: 12vh;
  background: #FFFFFF;
  border: 1px solid #E7E7E7;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  text-align: center;
}

@media screen and (max-width: 1110px) {
  .rightCards {
    display: none;
  }
}

.gardenPlannerTitle {
  margin-top: 16px;
}

.hl3 {
  margin-top: 16px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
  }


.cardHolder .popup-content {
  position: relative;
  display: block;
  left: calc(27vw);
  background-color: white;
  border: 1px solid #E7E7E7 !important;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  max-height: 92vh;
  height: fit-content;
  width: 25vw !important;
  overflow-y: scroll;
}

.plantCard .popup-overlay {
  background: none !important;
}

.plantCard .pairs-box {
  margin-bottom: 0px !important;
}

.ProfilePanel {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 6%;
}

.profile {
  position: absolute;
  min-height: 40px;
  min-width: 40px;
  margin: 0px;
  height: calc(40px + 0.5em);
  width: calc(40px + 0.5em);
  top: 32px;
  right: calc(3vw - 20px - 0.25em);
}

.profile-options {
  position: absolute;
  bottom: 32px;
  width: fit-content;
  height: fit-content;
  right: 0;
  z-index: -10;
}

.profile-options .labelCol {
  position: absolute;
  bottom: -4px;
  width: 50px;
  height: fit-content;
  right: calc(6vw + 40px);
}

.profile-options .symbolCol {
  position: absolute;
  bottom: 0px;
  width: 6%;
  height: fit-content;
  right: calc(3vw - 3px);
}

.profile-options .labelCol p3 {
  position: relative;
  color: white;
  font-weight: 600;
  font-size: 12px;
  line-height: 35px;
  right: 0;
}

.profile-options .symbolCol img {
  margin-top: 10px;
}
